.vet-form-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.form-card {
  background-color: var(--mat-sys-surface-container-lowest);
  border: 1px solid var(--mat-sys-outline-variant);
  color: var(--mat-sys-on-surface);
  transition: all 0.2s ease-in-out;
}

.shadow-2xs {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.shadow-xs {
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.04),
    0 1px 2px rgba(0, 0, 0, 0.02);
}

.btn-back {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--mat-sys-surface-container-lowest);
  color: var(--mat-sys-on-surface);

  mat-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    width: 22px;
    height: 22px;
  }
}
