@use '@angular/material' as mat;

/* Reset e estilos globais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100dvh;
}

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  margin: 0;
  overflow: hidden;
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

@media (prefers-color-scheme: dark) {
  body {
    color-scheme: dark;
  }
}

.toast-success {
  --mat-snack-bar-container-color: #2e7d32;
  --mat-snack-bar-supporting-text-color: #ffffff;
  --mat-snack-bar-button-color: #e0e0e0;
}

.toast-error {
  --mat-snack-bar-container-color: #b71c1c;
  --mat-snack-bar-supporting-text-color: #ffffff;
  --mat-snack-bar-button-color: #e0e0e0;
}

.toast-warning {
  --mat-snack-bar-container-color: #ff9800;
  --mat-snack-bar-supporting-text-color: #ffffff;
  --mat-snack-bar-button-color: #e0e0e0;
}

.toast-info {
  --mat-snack-bar-container-color: var(--mat-sys-primary);
  --mat-snack-bar-supporting-text-color: #ffffff;
  --mat-snack-bar-button-color: #e0e0e0;
}